# **Write and Read File in Python**

Write :
- r	= Opens a file for reading. (default)
- w	= Opens a file for writing. Creates a new file if it does not exist or truncates the file if it exists.
- x	= Opens a file for exclusive creation. If the file already exists, the operation fails.
- a	= Opens a file for appending at the end of the file without truncating it. Creates a new file if it does not exist.
- t	= Opens in text mode. (default)
- b	= Opens in binary mode.

Read :
- Read() = Reads all char from a file.
- Readline() = Reads all char up to and including \n.
- Readlines() = Reads all line

In [9]:
#Example

f = open("test.txt", "r")
print(f.read())

my first file

# **Database Connection**

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [ ]:
import psycopg2

#connection database
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# **Create Table**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS sandbox.batch_2.bus")

sql = '''
      create table sandbox.batch_2.bus (
      id int,
      origin varchar,
      destination varchar,
      time time
)'''

cursor.execute(sql)
print("Table created successfully..")

conn.commit()

conn.close()

Table created successfully..

# **Insert Data**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

sql ='''insert into sandbox.batch_2.bus values 
        (100, 'Jakarta', 'Bandung', '10:00'),
        (200, 'Jakarta', 'Palembang', '11:00'),
        (300, 'Jakarta', 'Jogja', '12:00')'''

cursor.execute(sql)

conn.commit()
print("Data inserted successfully..")

conn.close()

Data inserted successfully..

# **Select Data**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

sql ='''select * from sandbox.batch_2.bus'''

cursor.execute(sql)

result = cursor.fetchall();
print(result)

conn.commit()

conn.close()

[(100, 'Jakarta', 'Bandung', datetime.time(10, 0)), (200, 'Jakarta', 'Palembang', datetime.time(11, 0)), (300, 'Jakarta', 'Jogja', datetime.time(12, 0))]

# **Update Table**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

print('Data sebelum diupdate')
sql = '''
      select * from sandbox.batch_2.bus
'''
cursor.execute(sql)
print(cursor.fetchall())


print('Data sesudah diupdate')
sql = '''
      update sandbox.batch_2.bus
      set id = 100, origin = 'Medan', destination = 'Bandung', time = '10:00'
      where id = 100 
    '''
cursor.execute(sql)

sql = '''
      select * from sandbox.batch_2.bus
'''
cursor.execute(sql)
print(cursor.fetchall())

conn.commit()

conn.close()

Data sebelum diupdate
[(100, 'Jakarta', 'Bandung', datetime.time(10, 0)), (200, 'Jakarta', 'Palembang', datetime.time(11, 0)), (300, 'Jakarta', 'Jogja', datetime.time(12, 0))]
Data sesudah diupdate
[(200, 'Jakarta', 'Palembang', datetime.time(11, 0)), (300, 'Jakarta', 'Jogja', datetime.time(12, 0)), (100, 'Medan', 'Bandung', datetime.time(10, 0))]

# **Delete Data**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

print('Data sebelum didelete')
sql = '''
      select * from sandbox.batch_2.bus
'''
cursor.execute(sql)
print(cursor.fetchall())

print('Data sesudah didelete')
sql = '''
      delete from sandbox.batch_2.bus where id = 100
    '''
cursor.execute(sql)

sql = '''
      select * from sandbox.batch_2.bus
'''
cursor.execute(sql)
print(cursor.fetchall())

conn.commit()

conn.close()

Data sebelum didelete
[(200, 'Jakarta', 'Palembang', datetime.time(11, 0)), (300, 'Jakarta', 'Jogja', datetime.time(12, 0)), (100, 'Medan', 'Bandung', datetime.time(10, 0))]
Data sesudah didelete
[(200, 'Jakarta', 'Palembang', datetime.time(11, 0)), (300, 'Jakarta', 'Jogja', datetime.time(12, 0))]

# **Drop Table**

In [ ]:
conn = psycopg2.connect(
        host = "localhost",
        port = portnumber,
        database= "yourdatabase",
        user = "yourusername",
        password = "yourpassword")

#creating object using the cursor method
cursor = conn.cursor()

sql = '''
      drop table sandbox.batch_2.bus
'''

cursor.execute(sql)
print("Table sudah dihapus")

conn.commit()

conn.close()

Table sudah dihapus

# **How to Query from CSV**

In [10]:
!pip install sqldf
import sqldf
import pandas as pd

Collecting sqldf
  Downloading https://files.pythonhosted.org/packages/60/4b/1a9f9f65bcc7cd8d724c700f469f9bbe3e796b3543e0d346e3e352a283d7/sqldf-0.4.2-py3-none-any.whl
Installing collected packages: sqldf
Successfully installed sqldf-0.4.2

In [11]:
california_housing = pd.read_csv('sample_data/california_housing_test.csv')
california_train = pd.read_csv('sample_data/california_housing_train.csv')

In [12]:
california_housing.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [13]:
sql = '''
      select longitude, latitude, population
      from california_housing
'''

In [14]:
df = sqldf.run(sql)
df

      longitude  latitude  population
0       -122.05     37.37      1537.0
1       -118.30     34.26       809.0
2       -117.81     33.78      1484.0
3       -118.36     33.82        49.0
4       -119.67     36.33       850.0
...         ...       ...         ...
2995    -119.86     34.42      1258.0
2996    -118.14     34.06      3496.0
2997    -119.70     36.30       693.0
2998    -117.12     34.10        46.0
2999    -119.63     34.42       753.0

[3000 rows x 3 columns]